
<%-include('../partials/adminPartials/adminHeader')-%>
          
            
              <div class="row">
                
                
                
                <!--/ Total Revenue -->
                <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                  <div class="row">
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="../assets/img/icons/unicons/rupee.png" alt="Credit Card" class="rounded" />
                            </div>
                          </div>
                          <span class="d-block mb-1">Total Revenue</span>
                          <h3 class="card-title text-nowrap mb-2">₹ <%= totalRevenue%></h3>
                          <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +14.82%</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="../assets/img/icons/unicons/users.png" alt="Credit Card" class="rounded" />
                            </div>
                          </div>
                          <span class="fw-semibold d-block mb-1">Active users</span>
                          <h3 class="card-title mb-2"> <%= userCount %></h3>
                          <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.14%</small>
                        </div>
                      </div>
                    </div>
                    <!-- </div>
    <div class="row"> -->
                    <div class="col-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                            <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                              <div class="card-title">
                                <h5 class="text-nowrap mb-2">Monthly Earnings</h5>
                                <% 
                                const currentDate = new Date();
                                const monthNames = [
                                  'January', 'February', 'March', 'April', 'May', 'June',
                                  'July', 'August', 'September', 'October', 'November', 'December'
                                ];
                                const currentMonth = monthNames[currentDate.getMonth()];

                                %>
                                <span class="badge bg-label-warning rounded-pill"><%=currentMonth %></span>
                              </div>
                              <div class="mt-sm-auto">
                                <small class="text-success text-nowrap fw-semibold"
                                  ><i class="bx bx-chevron-up"></i> 68.2%</small
                                >
                                <h3 class="mb-0">₹ <%= revenueCurrentMonth %></h3>
                              </div>
                            </div>
                            <!-- <div id="profileReportChart"></div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Total Revenue -->
                <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                        <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                        <div class="card chart-container">
                          <canvas id="totalRevenue"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Order Statistics -->
                <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                        <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                        <div class="card chart-container">
                          <canvas id="categorySales"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Order Statistics -->

                <!-- Expense Overview -->
                
                <!--/ Expense Overview -->

                <!-- Transactions -->
                <div class="col-md-6 col-lg-4 order-2 mb-4">
                  <div class="card h-100">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="card-title m-0 me-2">Transactions</h5>
                      
                    </div>
                    <div class="card-body">
                      <ul class="p-0 m-0">
                        <li class="d-flex mb-4 pb-1">
                          <div class="avatar flex-shrink-0 me-3">
                            <img src="../assets/img/icons/unicons/Delivery.png" alt="User" class="rounded" />
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <!-- <small class="text-muted d-block mb-1">Paypal</small> -->
                              <h6 class="mb-0">Order to shift</h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                              <h6 class="mb-0"><%= ordersToShip %></h6>
                              <!-- <span class="text-muted">USD</span> -->
                            </div>
                          </div>
                        </li>
                        <li class="d-flex mb-4 pb-1">
                          <div class="avatar flex-shrink-0 me-3">
                            <img src="../assets/img/icons/unicons/list.png" alt="User" class="rounded" />
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <!-- <small class="text-muted d-block mb-1">Paypal</small> -->
                              <h6 class="mb-0">Completed Orders</h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                              <h6 class="mb-0"><%= completedOrders %></h6>
                              <!-- <span class="text-muted">USD</span> -->
                            </div>
                          </div>
                        </li>
                        <li class="d-flex mb-4 pb-1">
                          <div class="avatar flex-shrink-0 me-3">
                            <img src="../assets/img/icons/unicons/rupee.png" alt="User" class="rounded" />
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <!-- <small class="text-muted d-block mb-1">Paypal</small> -->
                              <h6 class="mb-0">Today's Income</h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                              <h6 class="mb-0"><%= todayIncome %></h6>
                              <!-- <span class="text-muted">USD</span> -->
                            </div>
                          </div>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <!--/ Transactions -->
              </div>
              <div class="row">
                <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                        <h5 class="card-header m-0 me-2 pb-3">Last two week sales</h5>
                        <div class="card chart-container">
                          <canvas id="chart-line"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

              <script>
                const ctx = document.getElementById("totalRevenue").getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ["Online", "COD","Wallet"],
                        datasets: [{
                            label: 'Amount',
                            data: ['<%= razorPayAmount %>','<%= codPayAmount %>','<%= walletPayAmount %>'],
                            // backgroundColor: ["#0074D9", "#FF4136", "#2ECC40",
                            //     "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00",
                            //     "#001f3f", "#39CCCC", "#01FF70", "#85144b",
                            //     "#F012BE", "#3D9970", "#111111", "#AAAAAA"]
                            backgroundColor: ["violet", "lightgreen","#F4A460"]
                        }]
                    },
                });

                

                const revenue = (<%- JSON.stringify(dailyChart.map(item => item.dailyrevenue)) %>);
                const days = (<%- JSON.stringify(dailyChart.map(item => item._id)) %>);
                const catQty = (<%- JSON.stringify(categorySales.map(item => item.qty)) %>);
                const catName = (<%- JSON.stringify(categorySales.map(item => item._id)) %>);

                const categorySales = document.getElementById("categorySales").getContext('2d');

                new Chart(categorySales, {
                  type: "bar",
                  data: {
                    labels: catName,
                    datasets: [{
                      label: "quantity",
                      tension: 0,
                      borderWidth: 1,
                      pointRadius: 5,
                      pointBackgroundColor: "rgba(255, 255, 255, .8)",
                      pointBorderColor: "transparent",
                      borderColor: "rgba(255, 255, 255, .8)",
                      borderWidth: 1,
                      backgroundColor: "rgba(173, 216, 230, .8)",
                      fill: true,
                      data: catQty,
                      maxBarThickness: 50

                    }],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          display: true,
                          padding: 10,
                          color: '#f8f9fa',
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          borderDash: [5, 5]
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });

                var ctx2 = document.getElementById("chart-line").getContext("2d");

                new Chart(ctx2, {
                  type: "line",
                  data: {
                    labels: days,
                    datasets: [{
                      label: "revenue",
                      tension: 0,
                      borderWidth: 0,
                      pointRadius: 3,
                      pointBackgroundColor: "rgba(173, 216, 230, .8)",
                      pointBorderColor: "transparent",
                      borderColor: "rgba(144, 238, 144, .8)",
                      borderWidth: 2,
                      backgroundColor: "transparent",
                      fill: true,
                      data: revenue,
                      maxBarThickness: 6

                    }],
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {
                        display: false,
                      }
                    },
                    interaction: {
                      intersect: false,
                      mode: 'index',
                    },
                    scales: {
                      y: {
                        grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5],
                          color: 'rgba(255, 255, 255, .2)'
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                      x: {
                        grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          borderDash: [5, 5]
                        },
                        ticks: {
                          display: true,
                          color: '#f8f9fa',
                          padding: 10,
                          font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                          },
                        }
                      },
                    },
                  },
                });
              </script>

            <%-include('../partials/adminPartials/adminFooter')-%>

            