<%-include('../partials/adminPartials/adminHeader')-%>

<!-- message  -->

<% if(message){%>
    <div class="alert alert-<%= status %> alert-dismissible col-sm-12" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
    <%
  } %>

<!-- message  -->
    <div class="col-lg-4 col-md-6">
        <small class="text-light fw-semibold">Add edit and unlist category</small>
        <div class="mt-3">
            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- <form id="addCategoryForm" method="POST" action="addCategory" > -->
                        <form id="addCategoryForm" action="/admin/addCategory" method="POST">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Add Category</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="categoryName" class="form-label">Category</label>
                                        <input type="text" id="categoryName" name="categoryName" class="form-control"
                                            placeholder="Enter Name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="col-sm-2 col-form-label"
                                            for="categoryDescription">Description</label>
                                        <textarea id="categoryDescription" name="categoryDescription"
                                            class="form-control" placeholder="description about category"
                                            aria-label="description about category"
                                            aria-describedby="basic-icon-default-message2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary ">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add category-->


    



    <!-- Bootstrap Table with Header - Footer -->
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Product Category</h5>
            <small class="text-muted float-end"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
                Add
            </button></small>
          </div>
        
        <div class="table-responsive text-nowrap container table">
            <% if (category != '') { %>
                <table class="table" id="categoryTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Created On</th>
                            <th>updated On</th>
                            <th>status</th>
                            <th>action</th>
                            <!-- Add hidden columns for DataTables -->
                            <th style="display:none;"></th>
                            <th style="display:none;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% category.forEach((row, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= row.categoryName %></strong></td>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalScrollable<%= index %>"
                                        data-mydata="<%= row.categoryName %>">more</a>
                                </td>
                                <% 

                                function getDate(dbDate) {
                                    const dateObject = new Date(dbDate);

                                    
                                const year = dateObject.getFullYear();
                                const month = dateObject.toLocaleString('en-us', { month: 'short' });
                                const day = dateObject.getDate();
                                const hours = dateObject.getHours();
                                const minutes = dateObject.getMinutes();
                                const formattedDate = `${day} ${month} ${year} ${hours}:${minutes}`;
                                return formattedDate
                                }
                                 %>
                                <td><%= getDate(row.createdOn) %></td>
                                    
                                <td><%= getDate(row.updatedOn) %></td>
                                <td>
                                    <% if(row.status) {%>
                                    <a class="badge bg-label-success me-1" href="/admin/unlistCategory/<%= row._id %>"><i class='bx bx-list-plus'></i>
                                     listed</a>
                                     <% }else{%>
                                        <a class="badge bg-label-danger me-1" href="/admin/listCategory/<%= row._id %>"><i class='bx bx-list-minus'></i>
                                            unlisted</a>
                                    <% } %>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/admin/editCategory/<%= row._id %>"><i
                                                    class="bx bx-edit-alt me-1"></i> Edit</a>
                                            <!-- <a class="dropdown-item" href="/admin/deleteCategory/<%= row._id %>"><i class="bx bx-trash me-1"></i>
                                                Delete</a> -->
                                                <a class="dropdown-item btn" onclick="remove('<%= row._id %>')">
                                                  <i class="bx bx-trash me-1"></i>
                                                  Delete
                                                </a>
                                        </div>
                                    </div>
                                </td>
                                <!-- Add hidden columns for DataTables -->
                                <td style="display:none;"><%= row.categoryDescription %></td>
                                <td style="display:none;"><span class="badge bg-label-success me-1">new</span></td>
                            </tr>
                        <% }); %>
                    </tbody>
                    <tfoot class="table-border-bottom-0">
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Created On</th>
                            <th>updated On</th>
                            <th>status</th>
                            <th>action</th>
                            <!-- Add hidden columns for DataTables -->
                            <th style="display:none;"></th>
                            <th style="display:none;"></th>
                        </tr>
                    </tfoot>
                </table>
            <% } else { %>
                <h1 class="text-center text-secondary mt-5">
                    No Category found in the database
                </h1>
            <% } %>
        </div>
        <!-- Modal description -->
<% category.forEach((row, index) => { %>
    <div class="modal fade" id="modalScrollable<%= index %>" tabindex="-1" aria-hidden="true" style="white-space: normal;">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalScrollableTitle"><%= row.categoryName %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalData" style="word-wrap: break-word;">
                        <%= row.categoryDescription %>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
<% }); %>
    </div>

    <%-include('../partials/adminPartials/adminFooter')-%>