<%-include('../partials/adminPartials/adminHeader')-%>
<% if(message){%>
  <div class="alert alert-<%= status %> alert-dismissible col-sm-12" role="alert">
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

  <%
} %>

  <!-- Bootstrap Table with Header - Footer -->
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Product Size</h5>
      <small class="text-muted float-end"><a type="button" href="/admin/addProduct" class="btn btn-primary">
          Add
      </a></small>
    </div>

    <div class="table-responsive text-nowrap container table">
      <% if (product !='' ) { %>
        <table class="table table-border-bottom-1 table-hover" id="categoryTable">
          <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>description</th>
                <th>price</th>
                <th>category</th>
                <th>image</th>
                <th>stock</th>
                <th>status</th>
                <th>Created on</th>
                <th>updated on</th>
                <th>action</th>
            </tr>
          </thead>
          <tbody>
            <% product.forEach((row, index)=> { %>
              <tr >
                <td>
                  <%= index + 1 %>
                </td>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                  <strong>
                    <%= row.productName %>
                  </strong>
                </td>
                <td>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalScrollable<%= index %>"
                        data-mydata="<%= row.productName %>">more</a>
                </td>
                <td>
                    <%= row.price %>
                </td>
                <td>
                    <%= row.category %>
                </td>
                
                <td>
                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                        <% row.image.forEach((img)=> { %>
                            <li
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        class="avatar avatar-xl pull-up"
                        title="<%= row.productName  %>"
                      >
                        <img src="/productImages/<%= img %>" alt="Avatar" class="rounded-circle" />
                      </li>
                        <% }) %>
                    </ul>
                </td>
                
                <td>
                    <%= row.stockQuantity %>
                </td>
                <td>
                    <% if(row.status) {%>
                      <a class="badge bg-label-success me-1" href="/admin/unlistProduct/<%= row._id %>"><i
                          class='bx bx-list-plus'></i>
                        listed</a>
                      <% }else{%>
                        <a class="badge bg-label-danger me-1" href="/admin/listProduct/<%= row._id %>"><i
                            class='bx bx-list-minus'></i>
                          unlisted</a>
                        <% } %>
                </td>

                <% function getDate(dbDate) { const dateObject=new Date(dbDate); const year=dateObject.getFullYear();
                  const month=dateObject.toLocaleString('en-us', { month: 'short' }); const day=dateObject.getDate();
                  const hours=dateObject.getHours(); const minutes=dateObject.getMinutes(); const formattedDate=`${day}
                  ${month} ${year} ${hours}:${minutes}`; return formattedDate } %>
                  
                  <td>
                    <%= getDate(row.createdOn) %>
                  </td>

                  <td>
                    <%= getDate(row.updatedOn) %>
                  </td>
                  
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/editProductDetails/<%= row._id %>"><i
                            class="bx bx-edit-alt me-1"></i> Edit</a>
                        <a class="dropdown-item btn" onclick="remove('<%= row._id %>')">
                          <i class="bx bx-trash me-1"></i>
                          Delete
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              <% }); %>
          </tbody>
          <tfoot class="table-border-bottom-0">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>description</th>
              <th>price</th>
              <th>category</th>
              <th>image</th>
              <th>stock</th>
              <th>status</th>
              <th>Created on</th>
              <th>updated on</th>
              <th>action</th>
            </tr>
          </tfoot>
        </table>
        <% } else { %>
          <h1 class="text-center text-secondary mt-5">
            No Product Size found in the database
          </h1>
          <% } %>
    </div>
    
  </div>
  <!-- Modal description -->
  <% if (product !='' ) { %>
<% product.forEach((row, index) => { %>
    <div class="modal fade" id="modalScrollable<%= index %>" tabindex="-1" aria-hidden="true" style="white-space: normal;">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalScrollableTitle"><%= row.productName %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalData" style="word-wrap: break-word;">
                        <%= row.description %>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
<% }); %>
<% }; %>
    </div>

  <%-include('../partials/adminPartials/adminFooter')-%>