<%-include('../partials/adminPartials/adminHeader')-%>
<% if(message){%>
  <div class="alert alert-<%= status %> alert-dismissible col-sm-12" role="alert">
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

  <%
} %>

  <!-- Bootstrap Table with Header - Footer -->
  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Users</h5>
    </div>

    <div class="table-responsive text-nowrap container table">
      <% if (user !='' ) { %>
        <table class="table table-border-bottom-1 table-hover" id="categoryTable">
          <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
                <th>mobile</th>
                <th>isVerified</th>
                <th>wallet</th>
                <th>createdOn</th>
                <th>updatedOn</th>
                <th>action</th>
                
            </tr>
          </thead>
          <tbody>
            <% user.forEach((row, index)=> { %>
              <tr >
                <td>
                  <%= index + 1 %>
                </td>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                  <strong>
                    <%= row.name %>
                  </strong>
                </td>
                <td>
                    <%= row.email %>
                </td>
                <td>
                    <%= row.mobile %>
                </td>
                <td>
                    <%= row.is_verified %>
                </td>
                <td>
                    <%= row.wallet %>
                </td>
                

                <% function getDate(dbDate) { const dateObject=new Date(dbDate); const year=dateObject.getFullYear();
                  const month=dateObject.toLocaleString('en-us', { month: 'short' }); const day=dateObject.getDate();
                  const hours=dateObject.getHours(); const minutes=dateObject.getMinutes(); const formattedDate=`${day}
                  ${month} ${year} ${hours}:${minutes}`; return formattedDate } %>
                  
                  <td>
                    <%= getDate(row.createdOn) %>
                  </td>

                  <td>
                    <%= getDate(row.updatedOn) %>
                  </td>
                  <td>
                    <% if(!row.is_blocked) {%>
                      <a class="badge bg-label-success me-1" href="/admin/unlistUser/<%= row._id %>"><i
                          class='bx bx-list-plus'></i>
                        active</a>
                      <% }else{%>
                        <a class="badge bg-label-danger me-1" href="/admin/listUser/<%= row._id %>"><i
                            class='bx bx-list-minus'></i>
                          blocked</a>
                        <% } %>
                </td>
                  
                </tr>
              <% }); %>
          </tbody>
          <tfoot class="table-border-bottom-0">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
                <th>mobile</th>
                <th>isVerified</th>
                <th>wallet</th>
                <th>createdOn</th>
                <th>updatedOn</th>
                <th>action</th>
            </tr>
          </tfoot>
        </table>
        <% } else { %>
          <h1 class="text-center text-secondary mt-5">
            No User  found in the database
          </h1>
          <% } %>
    </div>
    
  </div>

    </div>

  <%-include('../partials/adminPartials/adminFooter')-%>