<%-include('../partials/adminPartials/adminHeader')-%>


<div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalScrollableTitle">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
          <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
          </p>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
          <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus
            auctor fringilla.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Add color-->
    


    <nav class="layout-navbar container-xxl navbar navbar-expand-xl align-items-center bg-navbar-theme shadow rounded mb-4"
        id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            admin/productColor

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Button ModalScrollable -->
                <a  href="/admin/addColor" class="btn btn-primary" >
                    Add
                </a>
            </ul>

        </div>
    </nav>
    


    <!-- Bootstrap Table with Header - Footer -->
    <div class="card">
        <h5 class="card-header">Table Header & Footer</h5>
        <div class="table-responsive text-nowrap">
            <% if (colors!=''){%>
                
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Color</th>
                        <th>description</th>
                        <th>color</th>
                        <th>createdOn</th>
                        <th>updatedOn</th>
                        <th>status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% colors.forEach((row ,index) => {%>
                            <td class="table-responsive"><%= index+1 %></td>
                      
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= row.colorName %></strong></td>

                        <td class="table-responsive">
                            
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalScrollable<%= index %>" data-mydata="<%= row.colorName %>">
                                more
                            </a>
                        </td>

                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                    class="avatar avatar-xs pull-up" title="<%= row.colorName %>">
                                    <!-- <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" /> -->
                                    <div class="test rounded-circle" style="background-color:<%= row.colorName %>; height: 20px; width: 20px;">
                                    </div>
                                </li>
                                
                            </ul>
                        </td>
                        <% 
                        const dateObject = new Date(row.createdOn)
                        const year = dateObject.getFullYear();
  const month = dateObject.toLocaleString('en-us', { month: 'short' });
  const day = dateObject.getDate();

  // Format the components into the desired date format
  const formattedDate = `${day} ${month} ${year}`; %>
                        <td><%= formattedDate %></td>
                        <td><%= row.updatedOn %></td>

                        
                        
                        <td><span class="badge bg-label-success me-1">new</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>
                                        Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Modal description-->
    <div class="modal fade" id="modalScrollable<%= index %>" tabindex="-1" aria-hidden="true" style="white-space: normal;">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalScrollableTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    <p id="modalData"style="word-wrap: break-word;">
                        <%= row.colorDescription %>
                    </p>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    
                    <% }); %>
                    
                </tbody>
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th>ID</th>
                        <th>Color</th>
                        <th>description</th>
                        <th>color</th>
                        <th>createdOn</th>
                        <th>updatedOn</th>
                        <th>status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
            <% } else {%>
                <h1 class="text-center text-secondary mt-5">
                    No color found in database
                </h1>
            <%} %>
        </div>
    </div>
    
    <!-- <script>
        var modalTrigger = document.querySelector('[data-bs-target="#modalScrollable"]');
        modalTrigger.addEventListener('click', function() {
            var myData = modalTrigger.getAttribute('data-mydata');
            var modalDataElement = document.getElementById('modalData');
            modalDataElement.textContent = myData;
        });
    </script> -->
    <%-include('../partials/adminPartials/adminFooter')-%>