
<%-include('../partials/userPartials/userHeader')-%>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            
            
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Add address</h3>
                        <!-- <form class="row contact_form" action="/addAdress" method="post" id="addressForm">
                            <div class="col-md-6 form-group p_star">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="<%= userData.name %>">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" value="<%= userData.mobile %>">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" value="<%= userData.email %>">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" name="state">
                                
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" name="country">
                                
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                            </div>
                            <div class="col-md-12 form-group d-flex">
                                <a class="primary-btn rounded" >Submit</a>
                            </div>
                        </form> -->
                        <form class="row contact_form" method="post" action="/addAddress"  id="addressForm">
                            <div class="col-md-6 form-group p_star">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="<%= userData.name %>">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone" value="<%= userData.mobile %>">
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" value="<%= userData.email %>">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" name="state">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" name="country">
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">
                            </div>
                            <div class="col-md-12 form-group d-flex">
                                <button type="submit" class="primary-btn rounded">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

<%-include('../partials/userPartials/userFooter')-%>