
<%-include('../partials/userPartials/userHeader')-%>


<!--================Login Box Area =================-->
<section class="login_box_area section_gap mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6  ">
                <div class="login_form_inner border border-warning rounded">
                    <h3>Change password </h3>
                    <% if(message){%>
                        <h6 class="text-warning " id="message"><%= message %></h6>
                   <% } %>
                   <form class="row login_form" action="changePassword?id=<%= id %>" method="post" id="signUpForm"
                        novalidate="novalidate">
                        
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" value="<%= email %>" disabled>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3"></div>
            
        </div>
    </div>
    <!-- Button trigger modal -->

    <% if(message){%>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Enter your email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" id="emailForgotPasswordForm">
        <div class="modal-body">

                <input type="email" class="form-control" name="emailForgotPassword" id="emailForgotPassword" required>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeModalBtn" data-dismiss="modal">Close</button>
          <button type="submit" onclick="forgotPasswordEmail('<%=userId %>')" class="btn btn-primary">Submit</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  <% } %>
</section>
<!--================End Login Box Area =================-->

<%-include('../partials/userPartials/userFooter')-%>