
<%-include('../partials/userPartials/userHeader')-%>

<style>
    input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  
  border: 2px solid orange; /* Set the border color to orange */
  /* background-color: transparent; */
  outline: none;
  margin-right: 5px;
}

/* Custom radio button style when checked */
input[type="checkbox"]:checked {
  background-color: orange; /* Set the background color to orange when checked */
}
</style>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="cupon_area">
                <div class="check_title">
                    <h2>Have a coupon? </h2>
                </div>
                <div class="mb-3">

                    <input type="text" id="couponCode" name="couponCode" placeholder="Enter coupon code"  onkeyup="isCode()">
                    <span class="ml-5 text-danger" id="couponMessage" hidden></span>
                </div>
                <a class="tp_btn" href="" id="couponBtn" onclick="applyCoupon()" style="pointer-events: none;">Apply Coupon</a>
            </div>
            
            
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        
                        <div class="order_box">
                            <% addressDb.addresses.forEach((address, index) => { %>
                                <div class="payment_item">
                                    <div class="radion_btn">
                                        <% if(index ==0 ){ %>
                                        <input type="radio" id="address'<%=address._id%>'" value="<%=address._id%>" name="address" checked>
                                        <% }else{%>
                                        <input type="radio" id="address'<%=address._id%>'" value="<%=address._id%>" name="address">
                                       <% } %>
                                        <label for="address'<%=address._id%>'">Address <%=index+1 %></label>
                                        <div class="check"></div>
                                    </div>
                                        <p><%= address.userName %>,<%= address.address %>,<%= address.city %>,<%= address.state %>,<%= address.pincode %> <br>contact :<%= address.mobile %> </p>
                                        <a class="mt-5 text-dark" href="/editAddress?id=<%=address._id%>"><span class="lnr lnr-pencil"></span> Edit</a>
                                        <% if(addressDb.addresses.length>1) {%>
                                        <a class="mt-5 text-dark ml-3" href="" onclick="removeAddress('<%=address._id%>')"><span class="lnr lnr-trash"></span> remove</a>
                                        <% } %>

                                </div>
                            <% }) %>
                        </div>
                                <a class="mt-3 text-danger btn  border-warning" href="/addAdress"><span class="lnr lnr-file-add"></span> Add address</a>
                            </div>
                            
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                <% cartData.products.forEach((product, index) => { %>
                                    <li><a href="#"><%=product.product_id.productName %> X <%= product.quantity%><span class="middle"></span> <span class="last"><%= product.totalPrice%></span></a></li>
                                    <% }) %>
                                
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span id="subTotalPrice"><%= subTotalPrice%></span></a></li>
                                <% if(userData.ref){ %>
                                    <li><a href="#">discount Price <span id="discountPrice">20</span></a></li>
                                    <li><a href="#">Total <span id="totalPrice"><%= subTotalPrice - 20%></span></a></li>
                                    <% }else{ %>
                                <li><a href="#">discount Price <span id="discountPrice">0</span></a></li>
                                <li><a href="#">Total <span id="totalPrice"><%= subTotalPrice%></span></a></li>
                                <% } %>
                            </ul>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector" value="COD" checked>
                                    <label for="f-option5">Cash on Delivery</label>
                                    <div class="check"></div>
                                </div>
                                <p>Make your payment as COD </p>
                            </div>
                            <div class="payment_item ">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector" value="online" >
                                    <label for="f-option6">online payment </label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via Razorpay; you can pay with your credit card if you don’t have a Razorpay
                                    account.</p>
                            </div>
                            <% if(userData.wallet>=subTotalPrice){ %>
                            <div class="payment_item ">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option7" name="selector" value="wallet" >
                                    <div class="d-flex align-items-center">
                                        <label for="f-option7">wallet payment </label>
                                    </div>
                                    <div class="check"></div>
                                </div>
                                <p>you have <%=userData.wallet %> in your wallet</p>
                            </div>
                            <% } %>
                            <a class="primary-btn text-white" onclick="placeOrder()" >Place order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

<%-include('../partials/userPartials/userFooter')-%>