
<%-include('../partials/userPartials/userHeader')-%>
	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h2>Step into Style !</h2>
									<p>Discover a world of unparalleled style and elegance as you embark on a shoe-shopping journey like no other.
										 Unveil a captivating range of footwear that will transform every step into a fashionable statement.</p>
									<div class="add-bag d-flex align-items-center">
										
										<a  href="/shop" class="primary-btn">Shop Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h2 >Sole Searching: <br>Your Perfect Pair Awaits!</h2>
									<p>Embark on a delightful quest through our online shoe haven, where your ideal pair of shoes is ready to be discovered.
										Let your inner fashion detective roam free and find the perfect fit for your unique style.</p>
									<div class="add-bag d-flex align-items-center">
										
										<a  href="/shop" class="primary-btn">Shop Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/category/c1.jpg" alt="">
								<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Running</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/category/c2.jpg" alt="">
								<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Football</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/category/c3.jpg" alt="">
								<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Product for Walking</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/category/c4.jpg" alt="">
								<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Sneaker for Cricket</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="img/category/c5.jpg" alt="">
						<a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
							<div class="deal-details">
								<h6 class="deal-title">Sneaker for Hiking</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider" id="a">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					
					<% product.forEach((row, index)=> { %>
						<% function offerPrice(){
							let price=row.price
							let offer=row.offer
							let offerPrice= price-((price/100)*offer)
							return offerPrice
						} %>
					<div class="col-lg-3 col-md-6">
						<div class="single-product p-2 card shadow">
							<div class="position-relative">
								<% if(row.offer>0){%>

									<span class="position-absolute text-danger" style="z-index:9999;">- <%= row.offer %> % offer</span>
								<%} %>
								<img class="img-fluid" src="/productImages/<%= row.image[0] %>" alt="" height="100px">
							</div>
							
							<div class="product-details">
								<div class="d-flex">
									<h6><%=row.productName %></h6>
									
								</div>
								<div class="price">
									<% if(row.offer >0){%>
										<h6 class="l-through">₹ <%=row.price %></h6>
											<h6>₹ <%= offerPrice() %></h6>
									<%} else{%>
										<h6>₹ <%=row.price %> %></h6>
										<% } %>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info" onclick="addToCart('<%= row._id %>')">

										<span class="ti-bag"></span>
										<p class="hover-text" id="addToCart"  >add to bag</p>
									</a>
									<a href="" class="social-info" onclick="addToWishlist('<%= row._id %>')">
										<% if(!user){%>
											<span class="lnr lnr-heart addWish<%= row._id %>"></span>
										<%} else{%>
											<% if(row.wishlist){%>
												<span class="lnr lnr-heart bg-danger addWish<%= row._id %>"></span>
												<%} else{%>
													<span class="lnr lnr-heart addWish<%= row._id %>"></span>
												<%} %>
											
										<% } %>
											
										
										<p class="hover-text">Wishlist</p>
									</a>
									<a href="/productDetailsUser/<%= row._id %>" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>

					<% } )%>
					
				</div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					<% product.forEach((row, index)=> { %>
						<% function offerPrice(){
							let price=row.price
							let offer=row.offer
							let offerPrice= price-((price/100)*offer)
							return offerPrice
						} %>
						<div class="col-lg-3 col-md-6">
							<div class="single-product p-2 card shadow">
								<div class="position-relative">
									<% if(row.offer>0){%>
	
										<span class="position-absolute text-danger" style="z-index:9999;">- <%= row.offer %> % offer</span>
									<%} %>
									<img class="img-fluid" src="/productImages/<%= row.image[0] %>" alt="" height="100px">
								</div>
								
								<div class="product-details">
									<div class="d-flex">
										<h6><%=row.productName %></h6>
										
									</div>
									<div class="price">
										<% if(row.offer >0){%>
											<h6 class="l-through">₹ <%=row.price %></h6>
												<h6>₹ <%= offerPrice() %></h6>
										<%} else{%>
											<h6>₹ <%=row.price %> %></h6>
											<% } %>
									</div>
									<div class="prd-bottom">
	
										<a href="" class="social-info" onclick="addToCart('<%= row._id %>')">
	
											<span class="ti-bag"></span>
											<p class="hover-text" id="addToCart"  >add to bag</p>
										</a>
										<a href="" class="social-info" onclick="addToWishlist('<%= row._id %>')">
											<% if(!user){%>
												<span class="lnr lnr-heart addWish<%= row._id %>"></span>
											<%} else{%>
												<% if(row.wishlist){%>
													<span class="lnr lnr-heart bg-danger addWish<%= row._id %>"></span>
													<%} else{%>
														<span class="lnr lnr-heart addWish<%= row._id %>"></span>
													<%} %>
												
											<% } %>
												
											
											<p class="hover-text">Wishlist</p>
										</a>
										<a href="/productDetailsUser/<%= row._id %>" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
							</div>
						</div>
	
						<% } )%>
					
				</div>
			</div>
		</div>
	</section>
	<!-- end product Area -->

	<!-- Start exclusive deal Area -->
	
	<!-- End exclusive deal Area -->

	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End brand Area -->

	<!-- Start related-product Area -->
	
	<!-- End related-product Area -->
	<%-include('../partials/userPartials/userFooter')-%>

	