<%-include('../partials/userPartials/userHeader')-%>


<style>
    /* Custom radio button style */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid orange; /* Set the border color to orange */
  /* background-color: transparent; */
  outline: none;
  margin-right: 5px;
}

/* Custom radio button style when checked */
input[type="radio"]:checked {
  background-color: orange; /* Set the background color to orange when checked */
}
</style>
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop </h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/shop">Shop
                            <!-- <span class="lnr lnr-arrow-right"></span> -->
                        </a>
						<a href="#"></a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
                    <% if(search){%>
                        <input type="text" id="myInput" placeholder="Search.." class="form-control mb-2 mt-2" value="<%= search %>" onkeyup="searchFunction()" list="productList">
                        <% }else{%>
                            <input type="text" id="myInput" placeholder="Search.." class="form-control mb-2 mt-2" value="<%= search %>" onkeyup="searchFunction()" list="productList">
                        <%} %>
					<a href="" onclick="filterSelection()"><div class="head mb-1">All Products</div></a>
					<div class="head">Categories</div>
					<ul class="main-categories mt-3">
						<% category.forEach((element) => {%>
                            <li class="main-nav-list child mt-1" >
                                <input class="" type="radio" id="catId<%= element.categoryName %>" name="categoryFilter" value="<%= element.categoryName %>" onclick="filterAll()" >
                                <label class="ml-2" for="catId<%= element.categoryName %>"><%= element.categoryName %></label>
                                
                            </li>
                            <%}); %>
                              <div id="hiddenField" style="display: none;">
                                <input type="text" name="hiddenInput">
                              </div>
						
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Price </div>

					<div class="common-filter">
						
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<ul class="price">
                                    <li class="main-nav-list child mt-1">
                                        <input  type="radio" id="0 - 500" name="radioPrice" value="0,500" onclick="filterAll()">
                                        <label class="ml-2" for="0 - 500">0 - 500 </label>
                                    </li>
                                    <li class="main-nav-list child mt-1">
                                        <input  type="radio" id="500 -1000" name="radioPrice" value="500,1000" onclick="filterAll()">
                                        <label class="ml-2" for="500 -1000">500 -1000 </label>
                                    </li>
                                    <li class="main-nav-list child mt-1">
                                        <input  type="radio" id="1000 - 1500" name="radioPrice" value="1000,1500" onclick="filterAll()">
                                        <label class="ml-2" for="1000 - 1500">1000 - 1500 </label>
                                    </li>
                                    <li class="main-nav-list child mt-1">
                                        <input  type="radio" id="1500 - 2000" name="radioPrice" value="1500,2000" onclick="filterAll()">
                                        <label class="ml-2" for="1500 - 2000">1500 - 2000</label>
                                    </li>
                                    <li class="main-nav-list child mt-1">
                                        <input  type="radio" id="2000 - 2500" name="radioPrice" value="2000,2500" onclick="filterAll()">
                                        <label class="ml-2" for="2000 - 2500">2000 - 2500</label>
                                    </li>
                                    <li class="main-nav-list child mt-1">
                                        <input  type="radio" id="2500 - 3000" name="radioPrice" value="2500,3000" onclick="filterAll()">
                                        <label class="ml-2" for="2500 - 3000">2500 - 3000</label>
                                    </li>
                                    <li class="main-nav-list child mt-1">
                                        <input  type="radio" id="3000 - 3500" name="radioPrice" value="3000,3500" onclick="filterAll()">
                                        <label class="ml-2" for="3000 - 3500">3000 - 3500</label>
                                    </li>
                                </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">

				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
                       
						<% product.forEach((row, index)=> { %>
                            <div class="col-lg-4 filterDiv <%= row.category.categoryName %>">
                                <div class="single-product">
                                    <div>
                                        <img class="img-fluid" src="/productImages/<%= row.image[0] %>" alt="" height="100px">
                                    </div>
                                    
                                    <div class="product-details">
                                        <div class="d-flex productName">
                                            <h6><%=row.productName %></h6>
                                            
                                        </div>
                                        <div class="price">
                                            <h6>₹ <%=row.price %></h6>
                                        </div>
                                        <div class="prd-bottom">
        
                                            <a href="" class="social-info" onclick="addToCart('<%= row._id %>')">
        
                                                <span class="ti-bag"></span>
                                                <p class="hover-text" id="addToCart"  >add to bag</p>
                                            </a>
                                            <a href="" class="social-info" onclick="addToWishlist('<%= row._id %>')">
                                                <% if(!user){%>
                                                    <span class="lnr lnr-heart addWish<%= row._id %>"></span>
                                                <%} else{%>
                                                    <% if(row.wishlist){%>
                                                        <span class="lnr lnr-heart bg-danger addWish<%= row._id %>"></span>
                                                        <%} else{%>
                                                            <span class="lnr lnr-heart addWish<%= row._id %>"></span>
                                                        <%} %>
                                                    
                                                <% } %>
                                                    
                                                
                                                <p class="hover-text">Wishlist</p>
                                            </a>
                                            <a href="/productDetailsUser/<%= row._id %>" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <% } )%>

					</div>
				</section>
				<!-- End Best Seller -->
				
			</div>
		</div>
	</div>

	<script>

        function filterSelection() {
            event.preventDefault()
            const selectedRadioButton = document.querySelector('input[name="categoryFilter"]:checked');
            console.log(selectedRadioButton)
            if(selectedRadioButton){
                selectedRadioButton.checked = false;
                x = document.querySelectorAll(".filterDiv");
                x.forEach(element => {
                        element.removeAttribute("hidden");
                });
            }
            
            const selectedRadioButtonprice = document.querySelector('input[name="radioPrice"]:checked');
            console.log(selectedRadioButtonprice)
            if(selectedRadioButtonprice){
            selectedRadioButtonprice.checked = false;
            x = document.querySelectorAll(".filterDiv");
                x.forEach(element => {
                        element.removeAttribute("hidden");
                });
            }
        }

    </script>
    <script>
        function filterAll(){
            const selectedRadioButton = document.querySelector('input[name="categoryFilter"]:checked');
            console.log(selectedRadioButton)
            const selectedRadioButtonprice = document.querySelector('input[name="radioPrice"]:checked');
            console.log(selectedRadioButtonprice)
            if(selectedRadioButton){
                const selectedValue = selectedRadioButton.value;
                console.log(selectedValue)
                x = document.querySelectorAll(".filterDiv");
                console.log(x);
                x.forEach(element => {
                    if(element.className.indexOf(selectedValue)>-1){
                        element.removeAttribute("hidden");
                    }else{
                        element.setAttribute("hidden", "");
                    }
                });
            }
            if(selectedRadioButtonprice){
                const selectedPriceValue = selectedRadioButtonprice.value.split(",");
                console.log(selectedPriceValue)
                x = document.querySelectorAll(".filterDiv");
                console.log(x);
                x.forEach(element => {
                    const priceElement = element.querySelector(".single-product .product-details .price h6");
                    const priceValue=priceElement.textContent.match(/₹ (\d+)/);
                    console.log(priceValue[1]);
                    if(parseInt(selectedPriceValue[0]) <parseInt(priceValue[1]) && parseInt(priceValue[1])<=parseInt(selectedPriceValue[1])){
                        console.log(selectedPriceValue[0]+"<"+priceValue[1]+"<="+selectedPriceValue[1]);
                        element.removeAttribute("hidden");
                    }else{
                        element.setAttribute("hidden", "");
                    }
                });
            }
            if(selectedRadioButton && selectedRadioButtonprice){
                const selectedValue = selectedRadioButton.value;
                console.log(selectedValue)
                const selectedPriceValue = selectedRadioButtonprice.value.split(",");
                console.log(selectedPriceValue)
                x = document.querySelectorAll(".filterDiv");
                console.log(x);
                x.forEach(element => {
                    const priceElement = element.querySelector(".single-product .product-details .price h6");
                    const priceValue=priceElement.textContent.match(/₹ (\d+)/);
                    console.log(priceValue[1]);
                    if(parseInt(selectedPriceValue[0]) <parseInt(priceValue[1]) && parseInt(priceValue[1])<=parseInt(selectedPriceValue[1])
                    && element.className.indexOf(selectedValue)>-1){
                        console.log(selectedPriceValue[0]+"<"+priceValue[1]+"<="+selectedPriceValue[1]);
                        element.removeAttribute("hidden");
                    }else{
                        element.setAttribute("hidden", "");
                    }
                });
            }
            
        }
       
    </script>
    <script>
        function searchFunction(){
            let  input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            x = document.querySelectorAll(".filterDiv");
            x.forEach((element)=>{
            let a = element.querySelector(".single-product .product-details .productName h6");
            txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    element.style.display = "";
                } else {
                    element.style.display = "none";
                }  
            })
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        let ser=document.getElementById('myInput')
        console.log(ser);
        if(ser.value!=''){
        searchFunction()
}
    </script>

    <%-include('../partials/userPartials/userFooter')-%>
